<div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Sales Forecast</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
  
        </div>
      </nav>
    </div>
  </div>
  <div class="alert alert-primary">
        <button mat-icon-button>
                <mat-icon (click)="sidenav.toggle()">arrow_forward_ios</mat-icon>
            </button>
            <span style="font-size: 12px;">
                [&nbsp;History Start : 01-JAN-2019 | No. of Weeks : 4&nbsp;] &nbsp;&nbsp;
                [&nbsp;Forecast Start : 01-JAN-2020 | No. of Weeks : 4&nbsp;] &nbsp;&nbsp;
                Channel : Direct Store Order
    
            </span>
      </div>

<mat-sidenav-container>
<mat-sidenav #sidenav mode="side">
    <app-input-params></app-input-params>
</mat-sidenav>
<mat-sidenav-content layout-padding>
    <div style="height: 88vh;">
        <app-sales-forecast></app-sales-forecast>

    </div>
</mat-sidenav-content>
</mat-sidenav-container>